
\.idea/

src/components/wizard_inscripciones/step2\.vue

src/components/wizard_inscripciones/step3\.vue

src/components/wizard_inscripciones/step4\.vue

src/pages/Home/Home\.vue

src/pages/Inscripciones/Inscripciones\.vue
